params {
    genomes {
        'GRCh38' {
            fasta           = "${params.genomes_base}/Homo_sapiens/GRCh38/GRCh38_nohead_final.fa"
            fastaFai        = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai"
            fastaDict       = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.dict"
            referenceGTF    = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.110.gtf"
            refflat         = "${params.genomes_base}/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.110.refflat"
        }

        'Nextflow_test_human' {
            fasta           = "${params.test_data_base}/data/genomics/homo_sapiens/genome/genome.fasta"
            fastaFai        = "${params.test_data_base}/data/genomics/homo_sapiens/genome/genome.fasta.fai"
            fastaDict       = "${params.test_data_base}/data/genomics/homo_sapiens/genome/genome.dict"
            referenceGTF    = "${params.test_data_base}/data/genomics/homo_sapiens/genome/genome.gtf"
            refflat         = "/exports/sascstudent/vperinbanathan/nextflow_pipeline_testzone/test/data/genome.refflat"
            
        }
    }
}
