
//Include Temporary directory
params.tempdir = "/exports/sacstudent/vperinbanathan/nextflow_pipeline_testzone/TEMP_DIR"
params.cachedir = "/exports/sascstudent/vperinbanathan/programmas/singularity_containers"
params.basedir = "/exports/sacstudent/vperinbanathan/RPCA_nextflow"


singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.cachedir}"
}

env {
    TMPDIR = "${params.tempdir}"
}

process.executor = 'slurm'
baseDir = "${params.basedir}"

includeConfig 'config/tasks.config'
includeConfig 'config/parameters.config'
includeConfig 'config/input_config/igenomes.config'
